.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    height: 100vh;

    & .image {
        width: 100%;
        max-width: 360px;
        height: auto;

        border-radius: 24px;
    }

    & .button {
        width: 100%;
        max-width: 360px;
    }
}
