.root {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    cursor: pointer;
    user-select: none;
    white-space: nowrap;

    font-family: 'Pixelify Sans', 'Arial', sans-serif;
    font-weight: 500;

    color: var(--black);

    &.disabled {
        cursor: initial;

        opacity: 0.6;
    }

    &.loading {
        cursor: wait;
    }

    & .content {
        position: relative;

        & .hide {
            opacity: 0;
        }

        & .loadingWrapper {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
    }
}

.sizeS {
    height: 36px;
    padding: 0 16px;

    font-size: 18px;
}

.sizeM {
    height: 48px;
    padding: 0 24px;

    font-size: 24px;
}

.sizeL {
    height: 56px;
    padding: 0 36px;

    font-size: 32px;
}

.root:not(.disabled):not(.loading) {
    &:hover {
        background: var(--accent-dark);
    }

    &:active {
        transform: scale(0.98);
    }
}
