.root {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 44px;

    cursor: pointer;
    user-select: none;
    white-space: nowrap;

    font-family: 'PressStart2P', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 500;

    color: var(--txt-color);

    &:not(:global(.pixelated)) {
        border: 0;
        background-color: var(--primary);
    }

    &.disabled {
        cursor: initial;

        opacity: 0.6;
    }

    &.loading {
        cursor: wait;
    }

    & .content {
        position: relative;

        & .hide {
            opacity: 0;
        }

        & .loadingWrapper {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
    }
}

.sizeS {
    height: 44px;

    font-size: 14px;
}

.sizeM {
    height: 48px;
    padding: 0 var(--space-6);

    font-size: 20px;
}

.sizeL {
    height: 56px;
    padding: 0 var(--space-9);

    font-size: 28px;
}

.root:not(.disabled):not(.loading) {
    &:hover {
        @media (hover: hover) and (pointer: fine) {
            background-color: var(--pixelated-dark);
        }
    }

    &:active {
        transform: scale(0.98);
    }

    &:not(:global(.pixelated)):hover {
        @media (hover: hover) and (pointer: fine) {
            filter: brightness(90%);
        }
    }
}
