.root {
    width: 100%;
    padding: 16px 48px;

    cursor: pointer;
    text-align: center;
    letter-spacing: 0.4px;

    font-size: 15px;
    font-weight: 500;
    line-height: 125%;

    border: 0;
    border-radius: 40px;

    &:disabled {
        background: #969696;
    }

    @media (hover: none) {
        &:active {
            background: #ff8800;
        }
    }

    @media (hover: hover) {
        &:hover {
            background: #ff8800;
        }
    }
}

.black {
    color: var(--Basic-White);
    background: var(--Basic-Black);
}

.white {
    color: var(--Basic-Black);
    background: var(--Basic-White);
}
