:root {
    --black: #420000;
    --white: #fff;

    --primary: #ff99be;
    --green: #b2e265;
    --yellow: #ffdd47;
    --gray: #cccccc;
    --light-gray: #f5f5f5;

    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-7: 28px;
    --space-8: 32px;
    --space-9: 36px;
    --space-10: 40px;
    --space-11: 44px;
    --space-12: 48px;
    --space-13: 52px;
    --space-14: 56px;
    --space-15: 60px;
    --space-16: 64px;
}

:focus {
    outline: none;
}

:focus-visible {
    // outline: none;
    outline: 2px solid var(--primary);
    outline-offset: 2px;
}

@font-face {
    font-family: 'PressStart2P';
    font-weight: 400;
    font-style: normal;
    src:
        local('PressStart2P'),
        url('/public/fonts/PressStart2P-Regular.ttf') format('truetype');
}

body {
    margin: 0;

    font-family: 'PressStart2P', 'Arial', sans-serif;

    background: var(--Basic-White);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    & a {
        text-decoration: none;

        color: inherit;
    }
}

#root {
    overflow: hidden;

    width: 100vw;
    height: 100vh;
}

.pixelated {
    --pixelated-main: var(--primary);
    --pixelated-light: color-mix(in srgb, var(--pixelated-main) 35%, #fff);
    --pixelated-dark: color-mix(in hsl, hsl(270 100% 10%), var(--pixelated-main) 85%);

    position: relative;

    border-width: 3px;
    border-style: solid;
    border-radius: 14px;

    border-image-source: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23420000'/></svg>");

    border-image-slice: 2;
    border-image-width: 1;
    border-image-outset: 0;
    background-color: var(--pixelated-main);

    transition:
        background 0.3s ease,
        color 0.3s ease,
        opacity 0.3s ease;

    &::after {
        position: absolute;
        z-index: 0;
        right: 0;
        bottom: 0;

        width: 100%;
        height: 100%;

        content: '';

        box-shadow:
            inset -4px -4px var(--pixelated-dark),
            inset 4px 4px var(--pixelated-light);
    }
}
