@use '../../shared/theme/variables' as vars;

.root {
    position: relative;

    overflow: auto;

    width: 100%;
    height: 100%;

    background-color: var(--bg-color);

    & .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: var(--space-4);

        box-sizing: border-box;
        width: 100%;
        max-width: 640px;
        height: 100%;
        margin: 0 auto;
        padding: var(--space-3) var(--space-10) var(--space-6);

        & .menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: var(--space-1);

            width: 100%;

            & .about {
                min-width: 60px;
            }
        }

        & .title {
            margin: var(--space-2);

            text-align: center;

            font-size: 20px;
            line-height: 1.4;

            color: var(--txt-color);
        }

        & .rows {
            display: flex;
            flex-direction: column;
            gap: var(--space-2);

            box-sizing: border-box;
            width: 100%;
            padding: 0 100px;
        }
    }
}

@media screen and (max-width: vars.$max-width-phone) {
    .root {
        & .wrapper {
            width: 100%;
            padding: var(--space-4) var(--space-2) var(--space-10);

            & .menu {
                justify-content: space-around;
            }

            & .rows {
                padding: 0;
            }

            & .title {
                font-size: 14px;
            }
        }
    }
}
