@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;

    width: 1em;
    height: 1em;

    border: 0.1em solid currentcolor;
    border-top-color: transparent;
    border-radius: 100%;

    animation: rotation 1s infinite linear;
}
