@use '../../shared/theme/variables' as vars;

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: var(--bg-color);

    & .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--space-5);

        max-width: 640px;
        padding: var(--space-4);

        text-align: center;

        & .heading {
            font-size: 36px;

            color: var(--txt-color);
        }
    }
}

@media screen and (max-width: vars.$max-width-phone) {
    .root {
        & .wrapper {
            & .heading {
                font-size: 24px;
            }
        }
    }
}
