.root {
    width: 100%;
    max-width: 100%;

    & .row {
        display: flex;

        max-width: 100%;
        padding-bottom: var(--space-1);

        & .icon {
            width: 24px;
            height: 24px;
        }

        &.innerPadding {
            padding: 0 var(--space-5) var(--space-1);
        }

        & button {
            min-width: max-content;
            padding: 0;
        }
    }
}
