.root {
    width: 100%;
    max-width: 100%;

    & .row {
        display: flex;

        max-width: 100%;
        padding-bottom: var(--space-1);

        &.innerPadding {
            padding: 0 var(--space-5) var(--space-1);
        }
    }
}
