.root {
    width: 100%;
    max-width: 100%;

    & .row {
        display: flex;

        max-width: 100%;
        padding-bottom: var(--space-1);

        & .icon {
            width: 24px;
            height: 24px;

            background-color: var(--txt-color);

            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;

            background-clip: border-box;

            &.backspace {
                mask-image: url('@/shared/assets/backspace.svg');
            }

            &.check {
                mask-image: url('@/shared/assets/check.svg');
            }
        }

        &.innerPadding {
            padding: 0 var(--space-5) var(--space-1);
        }

        & button {
            min-width: max-content;
            padding: 0;
        }
    }
}
