@use '../../../shared/theme/variables' as vars;

.root {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    font-size: 32px;
    font-weight: 600;

    color: var(--txt-color);

    transition: background-color 0.3s ease;

    &.flipReveal {
        animation:
            flipIn 250ms ease-in forwards,
            flipOut 250ms ease-in 250ms forwards;
    }

    &.popInEffect {
        animation: popIn 100ms ease-in forwards;
    }
}

@media screen and (max-width: vars.$max-width-phone) {
    .root {
        width: 52px;
        height: 52px;

        font-size: 28px;
    }
}

@keyframes flipIn {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(-90deg);
    }
}

@keyframes flipOut {
    0% {
        transform: rotateX(-90deg);
    }

    100% {
        transform: rotateX(0);
    }
}

@keyframes popIn {
    0% {
        opacity: 0;

        transform: scale(0.8);
    }

    40% {
        opacity: 1;

        transform: scale(1.1);
    }
}
