@use '../../../shared/themes/variables' as vars;

.root {
    position: relative;

    display: flex;
    justify-content: center;
    gap: var(--space-2);

    width: 100%;
    max-width: 100%;

    & .cell {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 56px;
        height: 56px;

        font-size: 32px;
        font-weight: 600;

        color: var(--black);

        transition: background-color 0.3s ease;

        &.isRowAccepted {
            animation:
                FlipIn 250ms ease-in forwards,
                FlipOut 250ms ease-in 250ms forwards;
        }

        &.isCellFilled {
            animation: PopIn 100ms ease-in forwards;
        }
    }
}

@media screen and (max-width: vars.$maxWidthPhone) {
    .root {
        & .cell {
            width: 44px;
            height: 44px;

            font-size: 28px;
        }
    }
}

@keyframes FlipIn {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(-90deg);
    }
}

@keyframes FlipOut {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0);
    }
}

@keyframes PopIn {
    from {
        opacity: 0;

        transform: scale(0.8);
    }

    40% {
        opacity: 1;

        transform: scale(1.1);
    }
}
